﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 購開心</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("購開心", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["Name"] == null)
                    {
                        <li>@Html.ActionLink("登入", "Login", "Account")</li>
                        <li>@Html.ActionLink("註冊", "Register", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("您好，" + @Session["Name"], "Member", "Member")</li>
                        <li>@Html.ActionLink("登出", "Logout", "Account")</li>
                    }
                    <li>@Html.ActionLink("會員專區", "Member", "Member")</li>
                    <li>@Html.ActionLink("購物車", "Cart", "Home")</li>
                    @*<li>@Html.ActionLink("常見問題", "QA", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
