﻿<!DOCTYPE html>
@{ 
    
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 購開心</title>
    <style>
        .login {
            width: auto;
            background-color: #f8f8f8;
        }
    </style>
</head>
<body>
    @*<div class="login">
        <div style="text-align:center; padding:30px;font-family:Microsoft JhengHei;"><h1><b>登入</b></h1></div>
        <div class="row">
            <div><input class="col" style="width:300px;" id="email" type="email" placeholder="Email" /></div>
            <div><input class="col" style="width:300px; align-content:center" id="password" type="password" placeholder="Password" /></div>
            <div><a class="col" href="@Url.Action("Register", "Account")" style="width:auto; float:right">註冊帳號</a></div>
            <div><button class="col" id="button">登入</button></div>
        </div>
    </div>*@
    <div class="login">
        <form method="post" action="Login">
            <div style="font-family:Microsoft JhengHei;"><h1><b>登入</b></h1></div>
            <div>
                <span style="color:red">@ViewBag.Msg</span>
                <span style="color:red">@TempData["register"]</span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">帳號</label>
                <input type="text" class="form-control" id="Account" name="account" placeholder="輸入帳號" value="">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密碼</label>
                <input type="password" class="form-control" id="Password1" name="password" placeholder="輸入密碼" value="">
            </div>
                <button type="submit" class="btn btn-primary">登入</button>
                <button type="button" class="btn btn-warning" onclick="register()">註冊</button>
        </form>
    </div>
    <script>
        function register() {
            location.href = "Register";
        }
    </script>
</body>

</html>