﻿@{ 

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <style>
        .register {
            width: auto;
            background-color: #f8f8f8;
        }

        .row {
            margin: 0px auto;
            width: 300px;
            align-content: center;
        }

        .col {
            margin: 10px;
            width: 280px;
            padding: 0px 10px;
        }
    </style>
</head>
<body>
    @*<div>
        <div class="register">
            <div style="text-align:center; padding:30px;font-family:Microsoft JhengHei;"><h1><b>註冊您的帳號</b></h1></div>
            <div class="row">
                <div><input class="col" id="email" type="email" placeholder="Email" /></div>
                <div><input class="col" id="password" type="password" placeholder="密碼" /></div>
                <div><input class="col" id="password" type="password" placeholder="再次輸入密碼" /></div>
                <div><input class="col" id="name" type="text" placeholder="姓名" /></div>
                <div><input class="col" id="email" type="tel" placeholder="電話" /></div>
                <div><button class="col" id="button">註冊</button></div>
            </div>
        </div>
    </div>*@
    <form class="register" method="post" action="Register">
        <div style="font-family:Microsoft JhengHei;"><h1><b>註冊你的帳戶</b></h1></div>
        <div>
            <span style="color:red">@ViewBag.Msg</span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail">帳號</label>
            <input type="email" class="form-control" id="Account" name="account"
                   placeholder="請輸入您的電子郵件" required/>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密碼</label>
            <input type="password" class="form-control" id="Password1"
                   name="password1" placeholder="請輸入密碼" required/>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">再次輸入密碼</label>
            <input type="password" class="form-control" id="Password2"
                   name="password2" placeholder="請輸入密碼" required/>
        </div>
        <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" class="form-control" id="Name"
                   name="name" placeholder="請輸入您的姓名" required/>
        </div>
        <div class="form-group">
            <label for="phone">手機號碼</label>
            <input type="tel" class="form-control" id="Phone"
                   name="phone" placeholder="請輸入手機號碼" onkeypress="return isNumberKey(event)" required/>
        </div>
        <button type="submit" class="btn btn-primary">確定</button>
        <button type="reset" class="btn btn-warning">清除</button>
    </form>

    <script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
    return true;
        }
    </script>
</body>
</html>