﻿@{
    int count = ViewBag.Count;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 購開心</title>
    <style>
        .page {
            width: 1000px;
            margin-left: 300px;
            margin-top: 50px;
        }

        nav {
            width: 200px;
            text-align: center;
            float: left;
            margin-right: 80px;
            margin-top: 150px;
        }

            nav a {
                color: inherit;
                text-decoration: none;
                padding: 20px;
                display: block;
                font-size: 16px;
            }

            nav > ul {
                background-color: rgb(230, 230, 230);
                list-style: none;
                margin: 0;
                padding: 0;
                box-shadow:2px 2px 6px 2px rgba(20%, 20%, 40%, 0.5);
            }

            nav a:hover {
                background-color: rgb(115, 115, 115);
                color: white;
            }

        .cat {
            color: inherit;
            background-color: rgb(200, 200, 200);
            text-decoration: none;
            padding: 20px;
            display: block;
            font-size: 16px;
        }

        .col {
            width:400px;
            display: inline-block;
        }

        .product {
            padding: 15px;
            text-align: center;
        }
        .product h4{
            height:60px;
            text-align:center;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li class="cat"><b>商品分類</b></li>
            <li><a href="~/Category/Computer">電腦相關</a></li>
            <li><a href="~/Category/ComsumerElec">3C</a></li>
            <li><a href="~/Category/HomeAppliance">家電</a></li>
            <li><a href="~/Category/Daily">日常用品</a></li>
            <li><a href="~/Category/Lifes">生活</a></li>
            <li><a href="~/Category/Beauty">美妝</a></li>
            <li><a href="~/Category/Food">食品</a></li>
        </ul>
    </nav>
    <div class="page">
        <h2>生活</h2>
        <div class="row" style="padding-top: 50px;">
            @for (int i = 1; i <= count; i++)
            {
                <div class="col">
                    <div class="product">
                        <a href="~/Product/ProductContent/@ViewData["ProductId"+i]">
                            <img src="http://10.11.24.95/Intern/Image/@ViewData["ProductUri" + i]" width="160" alt="電腦區商品">
                        </a>
                        <h4>@ViewData["ProductName" + i]</h4>
                        <p>售價 : @ViewData["ProductPrice" + i]</p>
                        <div style="display:inline;">
                            @*<form action="@Url.Action("AddToCart", "Home")" method="post">
            <input type="hidden" name="ProductId" value="@ViewData["ProductId" + i]" />
            <input type="submit" class="btn btn-primary btn-sm" role="button" value="加入購物車" />
        </form>*@
                            <button id="Add" class="" onclick="AddToCart(@ViewData["ProductId"+i])">加入購物車</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        function AddToCart(i) {
            if ("@Session["Id"]" != "") {
                var url = "http://10.11.24.95/Intern/Cart/Add";

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "json",
                    headers: {
                        "Content-Type": "application/json",
                        "UserId": "@Session["Id"]",
                        "ProductId": i
                    },
                    data: "",
                    success: function () {
                        alert("已加入購物車");
                    },
                    error: function () {
                        alert("發生錯誤");
                    }
                });
            } else {
                alert("請先登入再加入購物車");
            }
        }
    </script>
</body>
</html>
