﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 購開心</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            margin: 0;
        }

        .material-icons {
            font-size: 20px;
        }

        .navbar {
            overflow: hidden;
            background-color: #feda98;
            position: fixed;
            height: 50px;
            top: 0;
            width: 100%;
        }

            .navbar a {
                float: left;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                margin-left: 50px;
            }

                .navbar a:hover {
                    background: #ffc761;
                    color: black;
                    height: 50px;
                }

        .sidenav {
            height: 100%; /* Full-height: remove this if you want "auto" height */
            width: 260px; /* Set the width of the sidebar */
            z-index: 1; /* Stay on top */
            top: 50px; /*Stay at the top */
            position: fixed;
            left: 0;
            background-color: #fdf5e6; /*ㄈ Black */
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 20px;
            min-width: 200px;
        }

            .sidenav ul {
            }

                .sidenav ul li {
                    list-style: none;
                }

            /* The navigation menu links */
            .sidenav h4 a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }
            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover {
                color: black;
            }

        .content {
            margin-top: 50px;
            margin-left: 300px;
            background-color: #eee;
            width: 550px;
            height: auto;
        }

        .col_category {
            padding: 10px;
            padding-right: 10px;
            align-content: center;
            font-size: 16px;
            text-align: center;
            width: 100%;
        }

        .row {
            display: flex;
            margin: 20px;
        }

        .row_add {
            display: flex;
            margin-top: 10px;
        }

        .col_add {
            padding: 10px;
            padding-right: 10px;
            align-content: center;
            font-size: 16px;
            text-align: center;
        }

        .col_st{
            display:inline-block;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="~/Home/Index" style="color: black;">購開心</a>
        <a href="#">
            <span class="material-icons" style="color: black;">
                notifications
            </span>
        </a>
    </div>

    <div class="sidenav">
        <ul>
            <li><h3>商品管理</h3></li>
            <li><h4><a style="font-size:16px;" href="~/Member/AddProduct">新增商品</a></h4></li>
            <li><h4><a style="font-size:16px; padding-bottom:25px" href="~/Member/ProductManagement">商品管理</a></h4></li>
            <li><h3>財務管理</h3></li>
            <li><h4 style="font-size:16px; padding-bottom:25px">進帳管理</h4></li>
        </ul>
    </div>

    <div id="add_product" class="content" style="width:1050px">
        <div style="padding:15px 15px;">
            <h2>新增商品</h2>
            <h5 style="color:red">@ViewBag.Msg</h5>
        </div>
        <div class="row_add" style="background-color:#ddd; border-bottom-style:none;">
            <div class="col_add" style="width:120px;">商品名稱</div>
            <div class="col_add" style="width:220px;">描述</div>
            <div class="col_add" style="width:110px;">價格</div>
            <div class="col_add" style="width:80px;">數量</div>
            <div class="col_add" style="width:170px;">照片</div>
            <div class="col_add" style="width:90px;">狀態</div>
            <div class="col_add" style="width:90px;">商品類別</div>
        </div>

        <form name="productForm" class="productForm" method="post" enctype="multipart/form-data" action="AddProduct">
            <div class="row_add">
                <div class="col_add"><input type="text" placeholder="商品名稱" name="name" id="name" style="width:120px" required /></div>
                <div class="col_add"><textarea style="resize:none;" id="description" cols="30" rows="4" name="description" placeholder="產品描述" required></textarea></div>
                <div class="col_add"><input type="text" placeholder="價格" name="price" id="price" style="width:90px" onkeypress="return isNumberKey(event)" required /></div>
                <div class="col_add"><input type="text" placeholder="數量" name="quantity" id="quantity" style="width:90px" onkeypress="return isNumberKey(event)" required /></div>
                <div class="col_add"><input type="file" placeholder="照片" name="file" id="file" style="width:170px" accept="image/jpeg" required /></div>
                <div class="col_st" style="width:105px;">
                    <input type="radio" name="status" value="1" id="status"/>可販賣<br />
                    <input type="radio" name="status" value="0" id="status"/>不可販賣
                </div>
                <div style="padding-left:10px;">
                    <select name="categoryid" required>
                        <option selected="selected" disabled="disabled">請選擇</option>
                        <option value="1">電腦相關</option>
                        <option value="2">3C</option>
                        <option value="3">家電</option>
                        <option value="4">日常用品</option>
                        <option value="5">生活</option>
                        <option value="6">美妝</option>
                        <option value="7">食品</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col_category">
                    <div><input id="submit" type="submit" style="float:right;" /></div>
                </div>
            </div>
        </form>
    </div>
    
    <script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
    return true;
        }
    </script>
</body>
</html>
