﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 購開心</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            margin: 0;
        }

        .material-icons {
            font-size: 20px;
        }

        .navbar {
            overflow: hidden;
            background-color: #feda98;
            position: fixed;
            height: 50px;
            top: 0;
            width: 100%;
        }

            .navbar a {
                float: left;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                margin-left: 50px;
            }

                .navbar a:hover {
                    background: #ffc761;
                    color: black;
                    height: 50px;
                }

        .sidenav {
            height: 100%; /* Full-height: remove this if you want "auto" height */
            width: 260px; /* Set the width of the sidebar */
            z-index: 1; /* Stay on top */
            top: 50px; /*Stay at the top */
            position: fixed;
            left: 0;
            background-color: #fdf5e6; /*ㄈ Black */
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 20px;
            min-width: 200px;
        }

            .sidenav ul {
            }

                .sidenav ul li {
                    list-style: none;
                }

            /* The navigation menu links */
            .sidenav h4 a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }
            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover {
                color: black;
            }

        .content {
            margin-top: 50px;
            margin-left: 280px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="~/Home/Index" style="color: black;">購開心</a>
        <a href="#">
            <span class="material-icons" style="color: black;">
                notifications
            </span>
        </a>
    </div>

    <div class="sidenav">
        <ul>
            <li><h3>商品管理</h3></li>
            <li><h4><a style="font-size:16px;" href="~/Member/AddProduct">新增商品</a></h4></li>
            <li><h4><a style="font-size:16px; padding-bottom:25px" href="~/Member/ProductManagement">商品管理</a></h4></li>
            <li><h3>財務管理</h3></li>
            <li><h4 style="font-size:16px; padding-bottom:25px">進帳管理</h4></li>
        </ul>
    </div>

    <div class="content">

        <h2>銷貨明細</h2>

        <table width="800" border="1" cellpadding="1" cellspacing="1" style="border-color:#CCCCCC">
            <tr style="background-color:#CCCCCC">
                <td width="20">編號</td>
                <td width="100">日期</td>
                <td width="100">銷出訂單</td>
                <td width="100">收入</td>
            </tr>
            <tr>
                <td width="20">1</td>
                <td width="100">2020/05/06</td>
                <td width="100">25</td>
                <td width="100">12500</td>
            </tr>
            <tr>
                <td width="20">2</td>
                <td width="100">2020/05/07</td>
                <td width="100">25</td>
                <td width="100">12500</td>
            </tr>
            <tr>
                <td width="20">3</td>
                <td width="100">2020/05/08</td>
                <td width="100">25</td>
                <td width="100">12500</td>
            </tr>
        </table>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>


    <script>

    </script>
</body>
</html>
