﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - 購開心</title>
    <style>

        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
        }

        .side-menu {
            overflow: hidden;
            width: 200px;
            float: left;
            align-items: center;
            background-color: antiquewhite;
        }

            .side-menu ul a {
                display: block;
                color: black;
                margin: 0px;
                padding: 0px;
                text-align: center;
                line-height: 50px;
                font-size: 20px;
            }

        .menu-item {
            width: 200px;
        }

        .tab-content {
            height: 100%;
            margin-left: 250px;
            width: 800px;
        }

        .active {
            width: 200px;
            background-color: white;
        }

        .row {
            display: flex;
            padding-left: 20px;
        }

        .col {
            display: inline;
            justify-content: space-around;
            width: 150px;
            text-align: center;
        }

        .row-straight {
            display: inline-block;
        }

        .col-straight {
            padding: 10px 30px 20px 80px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="text-align:center; padding:50px;"><h1><b><span style="font-family:Microsoft JhengHei;">會員專區</span></b></h1></div>


    <nav class="side-menu">
        <div class="tab">
            <ul>
                <li id="order" class="menu-item" onclick="tab(event, 'section-order')"><a href="#section-order">訂單資訊</a></li>
                <li id="info" class="menu-item" onclick="tab(event, 'section-info')"><a href="#section-info">個人資料</a></li>
                <li id="account" class="menu-item" onclick="tab(event, 'section-account')"><a href="#section-account">線上帳戶</a></li>
                @if ("Seller" == Session["Level"].ToString())
                {
                    <li id="management" class="menu-item" onclick="tab(event, 'section-management')"><a href="#section-product">@Html.ActionLink("您的賣場", "ProductManagement", "Member")</a></li>
                }
            </ul>
        </div>

    </nav>

    <div id="section-order" class="tab-content"style="width:800px">
        <div><h3><b><span style="font-family:Microsoft JhengHei;">訂單資訊</span></b></h3></div>
        <hr />
        <div class="row">
            <div class="col" style="width:250px">
                <b>訂單日期</b>
            </div>
            <div class="col" >
                <b>訂單編號</b>
            </div>
            <div class="col" >
                <b>處理進度</b>
            </div>
            <div class="col" >
                <b>應付金額</b>
            </div>
            <div class="col">
                <b>客服紀錄</b>
            </div>
            <div class="col" style="width:250px">
                <b>取消訂單</b>
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col" style="width:250px">
                2020/03/22 10:18:36
            </div>
            <div class="col" >
                GO202003
            </div>
            <div class="col" >
                集貨中
            </div>
            <div class="col" >
                $1148
            </div>
            <div class="col" >
                詢問/紀錄
            </div>
            <div class="col" style="width:250px">
                取消訂單/退貨
            </div>
        </div>
    </div>

    <div id="section-info" class="tab-content" style="width:500px;">
        <div><h3><b><span style="font-family:Microsoft JhengHei;">個人資料</span></b></h3></div>
        <div style="float:right;"><a href="#changeinfo" onclick="changeInfo()">修改會員資料</a></div><br />
        <hr style="color:black" />
        <div class="row-straight">
            <div class="col-straight">
                <b>會員帳號</b>
            </div>
            <div class="col-straight">
                <b>會員級別</b>
            </div>
            <div class="col-straight">
                <b>會員姓名</b>
            </div>
            <div class="col-straight">
                <b>手機號碼</b>
            </div>
            <div class="col-straight">
                <b>地址</b>
            </div>
        </div>
        <div class="row-straight">
            <div class="col-straight">
                @ViewBag.email
            </div>
            <div class="col-straight">
                @if (ViewBag.level != "Seller")
                {
                    <span>@ViewBag.level</span>
                    <span style="padding-left:15px;">申請成為賣家</span>
                }
                else
                {
                    <span>@ViewBag.level</span>
                }
            </div>
            <div class="col-straight">
                @ViewBag.name
            </div>
            <div class="col-straight">
                @ViewBag.phone
            </div>
            <div class="col-straight">
                @if (ViewBag.address == "")
                {
                    <a href="#changeinfo" onclick="changeInfo()">新增地址</a>
                }
                else
                {
                    @ViewBag.address
                }
            </div>
        </div>
    </div>

     <div id="section-changeinfo" class="tab-content" style="width:500px;">
        <div><h3><b><span style="font-family:Microsoft JhengHei;">修改個人資料</span></b></h3></div>
        <hr style="color:black" />
        <div class="row-straight" style="float:left;">
            <div class="col-straight">
                <b>會員帳號</b>
            </div>
            <div class="col-straight">
                <b>會員級別</b>
            </div>
            <div class="col-straight">
                <b>會員姓名</b>
            </div>
            <div class="col-straight">
                <b>手機號碼</b>
            </div>
            <div class="col-straight">
                <b>地址</b>
            </div>
        </div>
        <form class="changeinfo" method="post" action="ChangeInfo">
            <div class="row-straight">
                <div class="col-straight">
                    @ViewBag.email
                </div>
                <div class="col-straight">
                    @ViewBag.level
                    <span style="padding-left:20px;"><a href="##">賣家申請</a></span>
                </div>
                <div class="col-straight">
                    <input name="Name" id="name" type="text" value="@ViewBag.name" />
                </div>
                <div class="col-straight">
                    <input name="Phone" id="phone" type="tel" value="@ViewBag.phone" />
                </div>
                <div class="col-straight">
                    @if (ViewBag.address == "")
                    {
                        <input name="Address" id="address" type="tel" />
                    }
                    else
                    {
                        <input name="Address" id="address" type="tel" value="@ViewBag.address" />
                    }
                </div>
            </div><br />
            <button type="submit" class="btn btn-primary" style="float:right; margin-right:22px;">儲存</button>
        </form>
    </div>

    <div id="section-account" class="tab-content" style="width:500px;">
        <div><h3><b><span style="font-family:Microsoft JhengHei;">線上帳戶</span></b></h3></div>
        <hr />
        <div class="row-straight">
            <div class="col-straight">
                <b>購物金 :</b>
            </div>
            <div class="col-straight">
                <b>目前可使用折價券 :</b>
            </div>
        </div>
        <div class="row-straight">
            <div class="col-straight">
                1148元
            </div>
            <div class="col-straight">
                0張
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function tab(evt, name) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName('tab-content');
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName('menu-item');
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(name).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById('info').click();

        function changeInfo() {
            var i, tabcontent;
            tabcontent = document.getElementsByClassName('tab-content');
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            document.getElementById('section-changeinfo').style.display = "block";
            evt.currentTarget.className += " active";
        }

        function Cancel() {
            var i, tabcontent;
            tabcontent = document.getElementsByClassName('tab-content');
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            document.getElementById('section-info').style.display = "block";
            evt.currentTarget.className += " active";

        }

    </script>
</body>
</html>