﻿@{
    Layout = null;
    int count = ViewBag.Count;
    int e = 1;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 購開心</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            margin: 0;
        }

        .material-icons{
            font-size:20px;
        }

        .navbar {
            overflow: hidden;
            background-color: #feda98;
            position: fixed;
            height: 50px;
            top: 0;
            width: 100%;
        }

            .navbar a {
                float: left;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                margin-left: 50px;
            }

                .navbar a:hover {
                    background: #ffc761;
                    color: black;
                    height: 50px;
                }

        .sidenav {
            height: 100%; /* Full-height: remove this if you want "auto" height */
            width: 260px; /* Set the width of the sidebar */
            z-index: 1; /* Stay on top */
            top: 50px; /*Stay at the top */
            position: fixed;
            left: 0;
            background-color: #fdf5e6; /*ㄈ Black */
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 20px;
            min-width: 200px;
        }

            .sidenav ul {
            }

                .sidenav ul li {
                    list-style: none;
                }

            /* The navigation menu links */
            .sidenav h4 a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }
            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover {
                color: black;
            }

        .content {
            margin-top: 50px;
            margin-left: 300px;
            background-color: #eee;
            width: 600px;
            height: auto;
        }

        .row {
            margin: 10px;
            justify-content:space-around;
            width:100%;
            
        }

        .col {
            display: inline-block;
            padding:4px;
        }

        /*.row {
            display: flex;
            margin: 10px;
            justify-content:space-around;
        }
        .col{
            
        }*/
        .thumbnail{
            width:150px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="~/Home/Index" style="color: black;">購開心</a>
        <a href="#" >
            <span class="material-icons" style="color: black;">
                notifications
            </span>
        </a>
    </div>

    <div class="sidenav">
        <ul>
            <li><h3>商品管理</h3></li>
            <li><h4><a style="font-size:16px;" href="~/Member/AddProduct">新增商品</a></h4></li>
            <li><h4><a style="font-size:16px; padding-bottom:25px" href="~/Member/ProductManagement">商品管理</a></h4></li>
            <li><h3>財務管理</h3></li>
            <li><h4 style="font-size:16px; padding-bottom:25px">進帳管理</h4></li>
        </ul>
    </div>

    <div class="content" style="width:1250px">
        <div style="padding:15px 15px;">
            <h2>商品管理</h2>
            <div>
                <span style="color:red">@ViewData["DeleteMessage"]</span>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < count; i++)
            {
                <div class="col" style="padding:10px;">
                    <div class="thumbnail">
                        <img class="productImg" src="http://10.11.24.95/Intern/Image/@ViewData["ProductUri" + e]" width="100" alt="商品圖片" />
                        <div class="caption">
                            <h4 style="height:65px;">@ViewData["ProductName" + e]</h4>
                            <p>$@ViewData["ProductPrice" + e]</p>
                            <div style="display:flex;">
                                <a href="~/Product/ProductEdit/@ViewData["ProductId" + e]" style="text-decoration:none; margin-right:5px;" role="button">編輯</a>
                                <form id="DeleteProduct" onsubmit="return DeleteMessage()" action="@Url.Action("DeleteProduct", "Member")" method="post"><input type="submit" value="刪除" role="button" /><input type="hidden" name="ProductId" value="@ViewData["ProductId" + e]" /></form>
                            </div>
                        </div>
                    </div>
                </div>
                e++;
            }
        </div>
    </div>
    <script>
        function DeleteMessage() {
            var result = confirm("確定要刪除?");
            if (result) {
                return true;
            } else {
                return false;
            }
        }



        //document.getElementById('DeleteProduct').onsubmit = function () {
        //    return isValidForm();
        //}
    </script>
</body>
</html>