﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 購開心</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            margin: 0;
        }

        .material-icons {
            font-size: 20px;
        }

        .navbar {
            overflow: hidden;
            background-color: #feda98;
            position: fixed;
            height: 50px;
            top: 0;
            width: 100%;
        }

            .navbar a {
                float: left;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                margin-left: 50px;
            }

                .navbar a:hover {
                    background: #ffc761;
                    color: black;
                    height: 50px;
                }

        .sidenav {
            height: 100%; /* Full-height: remove this if you want "auto" height */
            width: 260px; /* Set the width of the sidebar */
            z-index: 1; /* Stay on top */
            top: 50px; /*Stay at the top */
            position: fixed;
            left: 0;
            background-color: #fdf5e6; /*ㄈ Black */
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 20px;
            min-width: 200px;
        }

            .sidenav ul {
            }

                .sidenav ul li {
                    list-style: none;
                }

            /* The navigation menu links */
            .sidenav h4 a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }
            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover {
                color: black;
            }

        .content {
            margin-top: 50px;
            margin-left: 280px;
        }
    </style>
</head>
<body>
   
</body>
</html>
