﻿@{
    var quantity = ViewBag.Quantity;
    int id = Convert.ToInt32(ViewBag.ProductId);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 購開心</title>
    <style>
        .container_main {
            width: 1300px;
            display: flex;
        }

        nav {
            width: 200px;
            text-align: center;
            margin-right: 80px;
            margin-top: 100px;
        }

            nav a {
                color: inherit;
                text-decoration: none;
                padding: 20px;
                display: block;
                font-size: 16px;
            }

            nav > ul {
                background-color: rgb(230, 230, 230);
                list-style: none;
                margin: 0;
                padding: 0;
                box-shadow: 2px 2px 6px 2px rgba(20%, 20%, 40%, 0.5);
            }

            nav a:hover {
                background-color: rgb(115, 115, 115);
                color: white;
            }

        .cat {
            color: inherit;
            background-color: rgb(200, 200, 200);
            text-decoration: none;
            padding: 20px;
            display: block;
            font-size: 16px;
        }

        .product {
            width: 900px;
            display: flex;
            margin-left: 20px;
        }

        .detail {
            margin-top: 30px;
            margin-left: 60px;
            width: 565px;
        }

            .detail .item {
                padding: 10px;
                font-size: 18px;
            }

        .title {
            width: 870px;
            background-color: #ddd;
            align-items: center;
            display: flex;
            margin-bottom: 20px;
        }

        .content {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container_main">
        <div class="nav">
            <nav>
                <ul>
                    <li class="cat"><b>商品分類</b></li>
                    <li><a href="~/Category/Computer">電腦相關</a></li>
                    <li><a href="~/Category/ComsumerElec">3C</a></li>
                    <li><a href="~/Category/HomeAppliance">家電</a></li>
                    <li><a href="~/Category/Daily">日常用品</a></li>
                    <li><a href="~/Category/Lifes">生活</a></li>
                    <li><a href="~/Category/Beauty">美妝</a></li>
                    <li><a href="~/Category/Food">食品</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="product">
                <div><img src="http://10.11.24.95/Intern/Image/@ViewBag.ImageId" height="250" alt="商品圖" /></div>@*src=imgurl*@
                <div class="detail">
                    <div><h4 style="font-weight: bold">@ViewBag.Name</h4></div>
                    <div class="item" style="padding-top:20px;">建議售價 : <span>@ViewBag.Price</span></div>
                    <div class="item">
                        數量 :
                        <select id="total" name="數量">
                            @for (int i = 1; i <= Convert.ToInt32(quantity); i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="item">
                        @*<form action="@Url.Action("AddToCart", "Home")" method="post">
                                <input type="hidden" name="ProductId" value="@ViewData["ProductId" + i]" />
                                <input type="submit" class="btn btn-primary btn-sm" role="button" value="加入購物車" />
                            </form>*@
                        <button id="Add" onclick="AddToCart(@id)">加入購物車</button>
                    </div>
                </div>
            </div>
            <div class="product_content">
                <div class="title">
                    <h4 style="padding-left:20px; font-size:22px;"><b>商品說明</b></h4>
                </div>
                <div style="padding-left:20px; font-size:16px; width:780px;">
                    @ViewBag.Description
                </div>
            </div>
        </div>
    </div>
    <script>
        function AddToCart(id) {
            if ("@Session["Id"]" != "") {

                var num = document.getElementById("total").value;


                var url = "http://10.11.24.95/Intern/Cart/Add";
                for (var i = 1; i <= num; i++) {
                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        headers: {
                            "Content-Type": "application/json",
                            "UserId": "@Session["Id"]",
                            "ProductId": id
                        },
                        data: "",
                        async: false,
                        success: function () {

                        },
                        error: function () {
                            alert("發生錯誤");
                            break;
                        }
                    });
                    if (i == num) {
                        alert("已加入購物車");
                    }
                }
            } else {
                alert("請先登入再加入購物車");
            }
        }
    </script>
</body>
</html>