﻿@{
    Layout = null;
    string ProductId = ViewBag.Id;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 購開心</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body {
            margin: 0;
        }

        .material-icons {
            font-size: 20px;
        }

        .navbar {
            overflow: hidden;
            background-color: #feda98;
            position: fixed;
            height: 50px;
            top: 0;
            width: 100%;
        }

            .navbar a {
                float: left;
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                margin-left: 50px;
            }

                .navbar a:hover {
                    background: #ffc761;
                    color: black;
                    height: 50px;
                }

        .sidenav {
            height: 100%; /* Full-height: remove this if you want "auto" height */
            width: 260px; /* Set the width of the sidebar */
            z-index: 1; /* Stay on top */
            top: 50px; /*Stay at the top */
            position: fixed;
            left: 0;
            background-color: #fdf5e6; /*ㄈ Black */
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 20px;
            min-width: 200px;
        }

            .sidenav ul {
            }

                .sidenav ul li {
                    list-style: none;
                }

            /* The navigation menu links */
            .sidenav h4 a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }
            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover {
                color: black;
            }

        .content {
            margin-top: 50px;
            margin-left: 300px;
            background-color: #eee;
            width: 1300px;
            height: auto;
        }

        .edit{
            margin-left: 20%;
        }

        .row {
            text-align: center;
            display: inline-block;
        }
        .col{
            width:100%;
            text-align: center;
            margin:15px;
        }

        .col_st{
            display:inline-block;
            margin:15px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="~/Home/Index" style="color: black;">購開心</a>
        <a href="#">
            <span class="material-icons" style="color: black;">
                notifications
            </span>
        </a>
    </div>

    <div class="sidenav">
        <ul>
            <li><h3>商品管理</h3></li>
            <li><h4><a style="font-size:16px;" href="~/Member/AddProduct">新增商品</a></h4></li>
            <li><h4><a style="font-size:16px; padding-bottom:25px" href="~/Member/ProductManagement">商品管理</a></h4></li>
            <li><h3>財務管理</h3></li>
            <li><h4><span style="font-size:16px; padding-bottom:25px">進帳管理</span></h4></li>
        </ul>
    </div>

    <div id="product_management" class="content">
        <div style="padding:15px 15px;">
            <h2>商品編輯</h2>
            <div style="font-size:16px; color:red;">@ViewBag.Msg</div>
        </div>
        <div class="edit">
            <div calss="row" style="width: 100px; float: left">
                <div class="col" style="height:170px;">照片</div>
                <div class="col">商品ID</div>
                <div class="col">商品名稱</div>
                <div class="col">價格</div>
                <div class="col">數量</div>
                <div class="col" style="height:40px;">狀態</div>
                <div class="col">商品類別</div>
                <div class="col" style="height:150px;">描述</div>
                <div class="col">上架日期</div>
            </div>
            <div class="row" style="width: 800px;">
                <form action="ProductEdit" method="post" enctype="multipart/form-data">
                    <div class="col" style="height:165px;">
                        <div>
                            <img src="http://10.11.24.95/Intern/Image/@ViewBag.ImageId" height="130" alt="無法讀取圖片" /><br />
                            <input type="file" name="file" id="file" />
                        </div>
                    </div>
                    <div class="col"><input type="text" placeholder="商品名稱" name="Id" id="Id" style="width:120px" value="@ProductId" readonly/></div>
                    <div class="col"><input type="text" placeholder="商品名稱" name="name" id="name" style="width:120px" value="@ViewBag.Name" required /></div>
                    <div class="col"><input type="text" placeholder="價格" name="price" id="price" style="width:100px" value="@ViewBag.Price" onkeypress="return isNumberKey(event)" required /></div>
                    <div class="col"><input type="text" placeholder="數量" name="quantity" id="quantity" style="width:100px" value="@ViewBag.Quantity" onkeypress="return isNumberKey(event)" required /></div>
                    <div class="col" style="height:40px;">
                        <input type="radio" name="status" value="1" id="status" required />可販賣<br />
                        <input type="radio" name="status" value="0" id="status" />不可販賣
                    </div>
                    <div class="col">@ViewBag.CategoryName</div>
                    <div class="col" style="height:150px;"><textarea style="resize:none;" id="description" cols="60" rows="10" name="description" required>@ViewBag.Description</textarea></div>
                    <div class="col">@ViewBag.Publishdate</div>
                    <div class="row">
                        <input id="submit" type="submit" style="margin-right:50px" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        
        
    </script>
</body>
</html>
