﻿@model IEnumerable<ShoppingWebsite.Models.CartProduct>
@{
    string totalAmount;
    if (ViewBag.TotalAmount == "查無此使用者")
    {
        totalAmount = "";
    }
    else
    {
        totalAmount = ViewBag.TotalAmount;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 購開心</title>

    <style>
        .cart {
            margin-top: 20px;
            width: 1300px;
            height: auto;
            background-color: antiquewhite;
        }

        .row {
            display: flex;
            padding-top: 20px;
        }

        .col {
            text-align: center;
        }

        thead th {
            font-size: 20px;
            text-align: center;
            padding: 10px;
        }

        tbody th {
            font-size: 18px;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="cart">
        <div style="padding-left:20px;padding-top:20px; font-family:Microsoft JhengHei;"><h1><b>購物車</b></h1></div>
        <div class="cart-content">
            <table>
                <thead>
                    <tr>
                        <th style="width:800px">商品名稱</th>
                        <th style="width:200px">數量</th>
                        <th style="width:200px">總金額</th>
                    </tr>
                </thead>
                <tbody>
                    @if (totalAmount == "")
                    {
                        <tr>
                            <th>購物車是空的哦~</th>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in ViewBag.cartProduct)
                        {
                            <tr>
                                <th><a href="~/Product/ProductContent/@item.ProductId">@item.ProductName</a></th>
                                <th><button id="minus" style="width:30px; font-size:20px; margin:0px 5px;" onclick="MinusOne(@item.ProductId)">-</button>@item.Quantity<button id="plus" style="width:30px; font-size:20px; margin:0px 5px;" onclick="AddOne(@item.ProductId)">+</button></th>
                                <th>@item.Price</th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="row" style="padding-bottom:30px;">
            <div class="col" style="height:30px; margin-right:20px; display: flex; margin-left:60%;">
                <div style="width:200px; font-size:20px; text-align:start;"><h4><b>結帳金額 : @totalAmount</b></h4></div>
                <button type="submit" style="width:200px; height:30px; color:#ddd;" disabled>結帳</button>
            </div>
        </div>
    </div>
    <script>
        function MinusOne(ProductId) {
            var url = "http://10.11.24.95/Intern/Cart/Delete";

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "json",
                    headers: {
                        "Content-Type": "application/json",
                        "UserId": "@Session["Id"]",
                        "ProductId": ProductId
                    },
                    data: "",
                    success: function () {
                        window.location.reload();
                    },
                    error: function () {
                        alert("發生錯誤");
                    }
                });
        }

        function AddOne(ProductId) {
            var url = "http://10.11.24.95/Intern/Cart/Add";

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "json",
                    headers: {
                        "Content-Type": "application/json",
                        "UserId": "@Session["Id"]",
                        "ProductId": ProductId
                    },
                    data: "",
                    success: function () {
                        window.location.reload();
                    },
                    error: function () {
                        alert("發生錯誤");
                    }
                });
        }

    </script>
</body>
</html>