﻿@{

}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - 購開心</title>
    <style>
        .container_page {
            width: 1150px;
        }

        .carousel {
        }

        .css_table {
            display: table;
            background-color: bisque;
            border: medium;
            width: 100%;
        }

        .css_tr {
            display: table-row;
        }

        .css_td {
            display: table-cell;
            text-align: center;
            width: 200px;
            font-size: 16px;
        }

        nav {
            display: flex;
            position: relative;
            justify-content: space-around;
        }

        .navitem {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .item {
            align-self: center;
        }

        .border {
            margin-top: 20px;
            border-top-style: solid;
            border-top-width: thin;
            border-bottom-style: solid;
            border-bottom-width: thin;
        }

        .row {
            margin-left: 10px;
            padding: 20px 10px;
            justify-content: space-around;
            width: 100%;
        }

        .col {
            display: inline-block;
            padding: 4px;
        }

        .btn {
        }

        .product {
            padding: 15px;
            text-align: center;
            width: 210px;
        }
    </style>
</head>
<body>
    <div class="container_page">
        @*輪播*@
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="@ViewData["AdUri2002"]"><img class="center-block" src="http://10.11.24.95/Intern/Image/@ViewData["Ad2002"]" alt="無圖"></a>
                </div>

                <div class="item">
                    <a href="@ViewData["AdUri2003"]"><img class="center-block" src="http://10.11.24.95/Intern/Image/@ViewData["Ad2003"]" height="200" alt="無圖"></a>
                </div>

                <div class="item">
                    <a href="@ViewData["AdUri2004"]"><img class="center-block" src="http://10.11.24.95/Intern/Image/@ViewData["Ad2004"]" alt="無圖"></a>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <nav class="border">
            <div class="navitem">
                <a class=navitem__text href="~/Category/Computer"><b>電腦相關</b></a>
            </div>
            <div class="navitem">
                <a class=navitem__text href="~/Category/ComsumerElec"><b>3C</b></a>
            </div>
            <div class="navitem">
                <a class=navitem__text href="~/Category/HomeAppliance"><b>家電</b></a>
            </div>
            <div class="navitem">
                <a class=navitem__text href="~/Category/Daily"><b>日常用品</b></a>
            </div>
            <div class="navitem">
                <a class=navitem__text href="~/Category/Lifes"><b>生活</b></a>
            </div>
            <div class="navitem">
                <a class=navitem__text href="~/Category/Beauty"><b>美妝</b></a>
            </div>
            <div class="navitem">
                <a class=navitem__text href="~/Category/Food"><b>食品</b></a>
            </div>
        </nav>

        <div class="css_table" style="margin-top: 20px; overflow: auto">
            <div class="css_tr" style="margin-top:20px;">
                <span class="css_td" style="margin-top:15px; padding-left:20px; padding-bottom:20px; font-size:28px; text-align:unset"><b>熱銷排行</b></span>
            </div>
            <div class="css_tr">
                <div class="css_td"><a href="~/Product/ProductContent/@ViewData["BestSellerId1"]"><img src="http://10.11.24.95/Intern/Image/@ViewData["ImgUri1"]" width="150" alt="排行榜商品"></a></div>
                <div class="css_td"><a href="~/Product/ProductContent/@ViewData["BestSellerId2"]"><img src="http://10.11.24.95/Intern/Image/@ViewData["ImgUri2"]" width="150" alt="排行榜商品"></a></div>
                <div class="css_td"><a href="~/Product/ProductContent/@ViewData["BestSellerId3"]"><img src="http://10.11.24.95/Intern/Image/@ViewData["ImgUri3"]" width="150" alt="排行榜商品"></a></div>
                <div class="css_td"><a href="~/Product/ProductContent/@ViewData["BestSellerId4"]"><img src="http://10.11.24.95/Intern/Image/@ViewData["ImgUri4"]" width="150" alt="排行榜商品"></a></div>
                <div class="css_td"><a href="~/Product/ProductContent/@ViewData["BestSellerId5"]"><img src="http://10.11.24.95/Intern/Image/@ViewData["ImgUri5"]" width="150" alt="排行榜商品"></a></div>
            </div>
            <div class="css_tr" style="font-size:20px">
                <div class="css_td" style="padding: 10px 0px;">@ViewData["Bestseller1"]</div>
                <div class="css_td" style="padding: 10px 0px;">@ViewData["Bestseller2"]</div>
                <div class="css_td" style="padding: 10px 0px;">@ViewData["Bestseller3"]</div>
                <div class="css_td" style="padding: 10px 0px;">@ViewData["Bestseller4"]</div>
                <div class="css_td" style="padding: 10px 0px;">@ViewData["Bestseller5"]</div>
            </div>
        </div>

        <div class="row">
            @foreach (int i in ViewBag.product_list)
            {
                <div class="col">
                    <div class="product">
                        <a href="~/Product/ProductContent/@i"><img src="http://10.11.24.95/Intern/Image/@ViewData["ProductImage" + i]" width="120" alt="首頁商品"></a>
                        <h4 style="height:63px">@ViewData["ProductName" + i]</h4>
                        <p>售價 : @ViewData["ProductPrice" + i]</p>
                        <div style="display:inline;">
                            @*<form action="@Url.Action("AddToCart", "Home")" method="post">
                                    <input type="hidden" name="ProductId" value="@ViewData["ProductId" + i]" />
                                    <input type="submit" class="btn btn-primary btn-sm" role="button" value="加入購物車" />
                                </form>*@
                            <button id="AddToCart" class="" onclick="AddToCart(@i)">加入購物車</button>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    <script>
        function AddToCart(i) {
            if ("@Session["Id"]" != "") {
                var url = "http://10.11.24.95/Intern/Cart/Add";

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "json",
                    headers: {
                        "Content-Type": "application/json",
                        "UserId": "@Session["Id"]",
                        "ProductId": i
                    },
                    data: "",
                    success: function () {
                        alert("已加入購物車");
                    },
                    error: function () {
                        alert("發生錯誤");
                    }
                });
            } else {
                alert("請先登入再加入購物車");
            }
        }
    </script>
</body>
</html>
