﻿@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 購開心</title>
</head>
<body>
    <div style="padding-left:20px;padding-top:20px; font-family:Microsoft JhengHei;"><h1><b>為您解答您的問題</b></h1></div>
</body>
</html>
